@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

.App {
  text-align: center;
  font-family: 'Great Vibes', cursive;
}

.App-logo {
  position: fixed;
  top: 0;
  width: 200px;
  margin-top: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /*
  background-image: url(./bkg.jpg);
  background-size: cover;
  background-position: center center;
  */
}

.App-link {
  color: #09d3ac;
}

.imcyc {
  color: #ffffff;
  fill: #ffffff !important;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 3em;
}